@charset "UTF-8";
/* ==============================================================
   Foundation
============================================================== */
/* -------------------------------------------------------
   reset
------------------------------------------------------- */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  border: solid 1px;
  padding: 0.5em;
  vertical-align: middle;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* -------------------------------------------------------
   mixin
------------------------------------------------------- */
/* -------------------------------------------------------
   setting
------------------------------------------------------- */
/* -------------------------------------------------------
   変数 ,mixinの先読み
------------------------------------------------------- */
/* -------------------------------------------------------
   base
------------------------------------------------------- */
* {
  box-sizing: border-box;
}

.f-body {
  width: 100%;
  position: relative;
  background: white;
}

.f-breadcrumb {
  width: 100%;
  background: transparent;
  padding: 10px 0;
  position: relative;
  font-size: 30px;
}

.f-mainsidebarWrap {
  width: 100%;
  display: flex;
  background: #f4fdff;
}

.f-left,
.f-right {
  flex: 1;
}
@media screen and (max-width: 767px) {
  .f-left,
.f-right {
    display: none;
  }
}

.f-main {
  padding: 10px;
  position: relative;
  overflow: hidden;
  min-height: 1000px;
}
@media screen and (max-width: 767px) {
  .f-main {
    padding: 0;
    width: 100%;
  }
}

.f-sidebar {
  width: 300px;
  position: relative;
  padding: 100px 0px 0 0px;
}
@media screen and (max-width: 767px) {
  .f-sidebar {
    display: none;
  }
}

.f-footer {
  width: 100%;
  height: 100px;
  background: #046070;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 16px;
  font-family: "Noto Sans JP", "Open Sans", sans-serif;
}
@media screen and (max-width: 399px) {
  html {
    font-size: 10px;
  }
}

h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 5px;
}

a:-webkit-any-link {
  color: inherit;
}

img {
  image-rendering: -webkit-optimize-contrast;
  width: 100%;
}

span {
  display: inline-block;
  font-size: inherit;
}

textarea {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
}

.f-sticky {
  position: -webkit-sticky;
  position: sticky;
}

/* ==============================================================
   layout
============================================================== */
/* -------------------------------------------------------
   header
------------------------------------------------------- */
.l-header {
  background-color: black;
}

/* -------------------------------------------------------
   footer
------------------------------------------------------- */
/* -------------------------------------------------------
   main
------------------------------------------------------- */
.l-top__img {
  height: 100vh;
  display: block;
}

/* -------------------------------------------------------
   sidebar
------------------------------------------------------- */
.l-sidebarTitle {
  text-align: center;
}

.l-articleWrap {
  padding: 0 0 0 0;
}

/* -------------------------------------------------------
   content
------------------------------------------------------- */
.c-contLg {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.c-contLg__img {
  padding: 2.5%;
  width: 100%;
}

.c-descLg {
  white-space: pre-line;
  margin: 2.5%;
  width: 100%;
}
@media screen and (max-width: 399px) {
  .c-descLg {
    min-width: unset;
    width: 100%;
  }
}

.c-descLg__subtitle {
  display: inline-block;
}

.c-descLg__text {
  padding: 0 1em 0 0;
}

.c-contMd {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));
}

.c-contMd__img {
  width: 500px;
}
@media screen and (max-width: 399px) {
  .c-contMd__img {
    width: 100%;
  }
}

.c-descMd {
  padding: 1rem 2rem 1rem 2rem;
  width: 500px;
  background: #fff;
}
@media screen and (max-width: 399px) {
  .c-descMd {
    min-width: unset;
    width: 100%;
  }
}

.c-descMd__text {
  font-size: 1.5rem;
  white-space: pre-line;
}

.c-contMd--reverse {
  flex-direction: row-reverse;
}

.c-contSm {
  width: 90%;
  margin: 10px auto;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgb(218, 218, 218);
}

.c-contSm__img {
  padding: 2.5%;
  width: 100%;
}

.c-descSm {
  padding: 2.5%;
  width: 100%;
}

/* -------------------------------------------------------
   slick
------------------------------------------------------- */
.silckWrap {
  width: 100%;
  top: 0;
}
@media screen and (max-width: 767px) {
  .silckWrap {
    width: 100vw;
  }
}

.js-slick img {
  height: 100vh;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.slick-slide:not(.slick-center) {
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  transition: 0.2s linear;
}

/* -------------------------------------------------------
   animation-keyframe
------------------------------------------------------- */
.ak-fadeup--noreverse:hover {
  -webkit-animation: fadeup--noreverse 0.5s ease-out forwards;
          animation: fadeup--noreverse 0.5s ease-out forwards;
}

@-webkit-keyframes fadeup--noreverse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes fadeup--noreverse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
.ak-fadeup {
  -webkit-animation: fadeup-out 0.5s ease-out forwards;
          animation: fadeup-out 0.5s ease-out forwards;
}

.ak-fadeup:hover {
  -webkit-animation: fadeup 0.5s ease-out forwards;
          animation: fadeup 0.5s ease-out forwards;
}

@-webkit-keyframes fadeup {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeup {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeup-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes fadeup-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
.ak-fadedown--noreverse:hover {
  -webkit-animation: fadedown--noreverse 0.5s ease-out forwards;
          animation: fadedown--noreverse 0.5s ease-out forwards;
}

@-webkit-keyframes fadedown--noreverse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}

@keyframes fadedown--noreverse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
.ak-fadedown {
  -webkit-animation: fadedown-out 0.5s ease-out forwards;
          animation: fadedown-out 0.5s ease-out forwards;
}

.ak-fadedown:hover {
  -webkit-animation: fadedown 0.5s ease-out forwards;
          animation: fadedown 0.5s ease-out forwards;
}

@-webkit-keyframes fadedown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadedown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadedown-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
@keyframes fadedown-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
.ak-faderight--noreverse:hover {
  -webkit-animation: faderight--noreverse 0.5s ease-out forwards;
          animation: faderight--noreverse 0.5s ease-out forwards;
}

@-webkit-keyframes faderight--noreverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes faderight--noreverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
.ak-faderight {
  -webkit-animation: faderight-out 0.5s ease-out forwards;
          animation: faderight-out 0.5s ease-out forwards;
}

.ak-faderight:hover {
  -webkit-animation: faderight 0.5s ease-out forwards;
          animation: faderight 0.5s ease-out forwards;
}

@-webkit-keyframes faderight {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes faderight {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes faderight-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
@keyframes faderight-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
.ak-fadeleft--noreverse:hover {
  -webkit-animation: fadeleft--noreverse 0.5s ease-out forwards;
          animation: fadeleft--noreverse 0.5s ease-out forwards;
}

@-webkit-keyframes fadeleft--noreverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}

@keyframes fadeleft--noreverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
.ak-fadeleft {
  -webkit-animation: fadeleft-out 0.5s ease-out forwards;
          animation: fadeleft-out 0.5s ease-out forwards;
}

.ak-fadeleft:hover {
  -webkit-animation: fadeleft 0.5s ease-out forwards;
          animation: fadeleft 0.5s ease-out forwards;
}

@-webkit-keyframes fadeleft {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeleft {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeleft-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes fadeleft-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
/* -------------------------------------------------------
   animation-transition
------------------------------------------------------- */
.at-fadeup {
  transform: translateY(100px);
  transition: all 0.5s ease-out;
}

.at-fadeup:hover {
  transform: translateY(0);
}

.at-fadedown {
  transform: translateY(-100px);
  transition: all 0.5s ease-out;
}

.at-fadedown:hover {
  transform: translateY(0);
}

.at-faderight {
  transform: translateX(-100px);
  transition: all 0.5s ease-out;
}

.at-faderight:hover {
  transform: translateX(0);
}

.at-fadeleft {
  transform: translateX(100px);
  transition: all 0.5s ease-out;
}

.at-fadeleft:hover {
  transform: translateX(0);
}

/* -------------------------------------------------------
   jquery
------------------------------------------------------- */
.js-scroll-fadeup {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}

.js-scroll-fadeup.is-scroll {
  opacity: 1;
  transform: translateY(0);
}

.js-scroll-fadedown {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 1s ease-out;
}

.js-scroll-fadedown.is-scroll {
  opacity: 1;
  transform: translateY(0);
}

.js-scroll-faderight {
  opacity: 0;
  transform: translateX(-150px);
  transition: all 2s cubic-bezier(0, 0.93, 0.3, 0.99);
}

.js-scroll-faderight.is-scroll {
  opacity: 1;
  transform: translateX(0);
}

.js-scroll-fadeleft {
  opacity: 0;
  transform: translateX(150px);
  transition: all 2s cubic-bezier(0, 0.93, 0.3, 0.99);
}

.js-scroll-fadeleft.is-scroll {
  opacity: 1;
  transform: translateX(0);
}

/* -------------------------------------------------------
   animation-keyframe
------------------------------------------------------- */
.ak-rotateo {
  -webkit-animation: rotateo 2s linear infinite;
          animation: rotateo 2s linear infinite;
}

@-webkit-keyframes rotateo {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateo {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ak-rotatex {
  -webkit-animation: rotatex 1s linear infinite;
          animation: rotatex 1s linear infinite;
}

@-webkit-keyframes rotatex {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes rotatex {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.ak-rotatey {
  -webkit-animation: rotatey 1s linear infinite;
          animation: rotatey 1s linear infinite;
}

@-webkit-keyframes rotatey {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes rotatey {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.ak-rotatez {
  -webkit-animation: rotatez 1s linear infinite;
          animation: rotatez 1s linear infinite;
}

@-webkit-keyframes rotatez {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotatez {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.ak-rotate3d {
  -webkit-animation: rotate3d 1s linear infinite;
          animation: rotate3d 1s linear infinite;
}

@-webkit-keyframes rotate3d {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes rotate3d {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
/* -------------------------------------------------------
   hamburger
------------------------------------------------------- */
#hamburger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 8px;
  padding-right: 10px;
  text-align: center;
  box-sizing: border-box;
  z-index: 100;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(70, 70, 70);
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active {
  transform: rotate(360deg);
}

.menu-trigger.active span {
  background-color: rgb(255, 255, 255);
}

.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  transform: translateY(0) rotate(45deg);
}

.menu-trigger.active span:nth-of-type(3) {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  #hamburger {
    display: block;
  }
}
/* -------------------------------------------------------
   pagescroll
------------------------------------------------------- */
#js-pageTop {
  width: 90px;
  height: 90px;
  position: fixed;
  right: 2px;
  /* bottom: 0; */
  bottom: -100px;
  background: #ef3f98;
  opacity: 0.6;
  border-radius: 50%;
  z-index: 2;
}

#js-pageTop a {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}

#js-pageTop a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f102";
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#js-pageTop a::after {
  content: "PAGE  TOP";
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#js-pageBottom {
  width: 90px;
  height: 90px;
  position: fixed;
  left: 2px;
  /* bottom: 0; */
  bottom: -100px;
  background: #3f85ef;
  opacity: 0.6;
  border-radius: 50%;
  z-index: 2;
}

#js-pageBottom a {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}

#js-pageBottom a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f103";
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#js-pageBottom a::after {
  content: "PAGE BOTTOM";
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* -------------------------------------------------------
   form
------------------------------------------------------- */
/*最後の名前とかを中心に持ってくる*/
.c-inputDescription {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

/*名前とメッセージの入力欄*/
.c-formText {
  height: 2.4em;
  width: 300px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 5px;
}

textarea.c-formText {
  height: 100px;
  padding: 5px;
}

.c-formText:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

/* チェックボックススタイル */
.c-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #ff97a8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 3px 0.5rem 3px 0;
  outline: none;
  z-index: 1;
}

.c-checkbox:before {
  width: 40px;
  height: 40px;
  display: flex;
  content: "\f00d";
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
}

.c-checkbox:checked {
  background: #40e0d0;
}

.c-checkbox:checked:before {
  content: "\f00c";
}

/* スマホで選択解除したときに白いままにならないように */
@media screen and (min-width: 786px) {
  .c-checkbox:hover {
    background: #fff7ed;
  }

  .c-checkbox:checked:hover {
    background: #40e0d0;
  }
}
/* クリックしたときのアニメーション */
.c-checkbox:checked::after {
  -webkit-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
  transition: 0.3s;
}
.overlay.hidden {
  visibility: hidden;
  opacity: 0;
}

.btn {
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.btn.star::before {
  font-size: 50px;
}

form {
  background: #F9F9F9;
  position: absolute;
  margin: 0 auto;
  top: 150px;
  right: 0;
  left: 0;
  width: 60%;
  max-width: 800px;
  height: 550px;
  border-radius: 3px;
  box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: 0.3s;
}
form.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
}
@media screen and (max-width: 399px) {
  form {
    width: 95%;
  }
}

.contact h2 {
  background: #046070;
  margin: 0;
  padding: 8px;
  color: white;
  font: 300 20px Roboto;
  text-align: center;
}
.contact h2 span {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 7px;
  cursor: pointer;
  transition: 0.2s;
}
.contact h2 span:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.contact h2 span:before {
  position: absolute;
  top: -2px;
  right: 2px;
}

.group {
  width: 90%;
  margin: auto;
  position: relative;
}

label {
  position: absolute;
  top: 7px;
  font: 400 15px Roboto;
  color: #A9A9A9;
  cursor: text;
  transition: 0.2s;
}

input {
  background: linear-gradient(to bottom, transparent 92%, #046070 8%) no-repeat;
  background-position: -300px 0;
  background-size: 300px 100%;
  display: block;
  width: 100%;
  padding: 5px 0;
  margin-top: 30px;
  border: none;
  border-bottom: solid 1px #046070;
  font-size: 15px;
  transition: all 0.3s;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #F9F9F9 inset;
}
input:focus, input:valid {
  background-position: 0 0;
  outline: none;
}
input:focus ~ label, input:valid ~ label {
  top: -12px;
  color: #046070;
  font: 700 12px Roboto;
}

textarea,
textarea:focus {
  background: #F9F9F9;
  width: 100%;
  height: 230px;
  padding: 9px;
  margin-top: 30px;
  border: 1px solid #046070;
  outline: none;
  font: 300 15px Roboto;
  resize: none;
}
textarea:focus, textarea:valid,
textarea:focus:focus,
textarea:focus:valid {
  padding: 7px;
  border: 3px solid #046070;
}
textarea:focus ~ label, textarea:valid ~ label,
textarea:focus:focus ~ label,
textarea:focus:valid ~ label {
  top: 12px;
  left: 0;
  color: #046070;
  font: 700 12px Roboto;
}
textarea ~ label,
textarea:focus ~ label {
  top: 35px;
  left: 7px;
}

.contact button {
  display: block;
  background: #046070;
  width: 200px;
  height: 30px;
  margin: 15px auto;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contact button:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

::-moz-selection {
  background: #046070;
  color: white;
}

::selection {
  background: #046070;
  color: white;
}

#MASK {
  position: absolute;
  transform: translateY(50%) translateX(-51%);
  top: 10vh;
  left: 50vw;
  width: 75%;
}
@media screen and (max-width: 767px) {
  #MASK {
    width: 95%;
  }
}

#text {
  position: absolute;
  transform: translateY(50%) translateX(-51%);
  top: 10vh;
  left: 50vw;
  width: 75%;
}
@media screen and (max-width: 767px) {
  #text {
    width: 95%;
  }
}

.cls-1 {
  fill: none;
}

.cls-2 {
  stroke: none;
  stroke-miterlimit: 10;
  fill-opacity: 0;
  transition: fill-opacity 1s;
}

.cls-2.is-ready {
  stroke: #fff;
}

.cls-2.is-end {
  fill: #fff;
  fill-opacity: 1;
}

/* -------------------------------------------------------
   article
------------------------------------------------------- */
.c-artiLg {
  padding: 5px;
  margin-bottom: 50px;
}

.c-artiLg__title {
  margin-bottom: 0.5rem;
}

/* -------------------------------------------------------
   heading
------------------------------------------------------- */
.c-heading--leftline {
  padding: 0.5rem 1rem;
  border-left: 6px solid rgb(0, 22, 82);
}

.c-heading--bottomline {
  padding: 0.2rem 1rem;
  border-bottom: 6px solid rgb(0, 37, 138);
  display: inline-block;
}

.c-heading--topbottomline {
  padding: 0.5rem 1rem;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.c-heading--bgcolorshadow {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #046070;
  box-shadow: 5px 5px 0 #02363f;
}

.c-heading--bgcolorline {
  position: relative;
  padding: 0.5rem 1rem calc(0.5rem + 10px);
  background: #046070;
}

.c-heading--bgcolorline:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  content: "";
  border: 4px solid #000;
}

.c-heading--patchnum {
  position: relative;
  text-align: center;
  border: 2px solid #000;
  background: #fff;
}

.c-heading--patchnum:before,
.c-heading--patchnum:after {
  position: absolute;
  content: "";
}

.c-heading--patchnum:before {
  top: -40px;
  left: calc(50% - 40px);
  width: 76px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

.c-heading--patchnum:after {
  top: 4px;
  left: 4px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 2px dashed #000;
  background: #fff;
}

.c-heading--patchnum i {
  font-size: 2rem;
  line-height: 60px;
  position: absolute;
  z-index: 2;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

.c-heading--patchnum span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1.5rem;
}

.c-heading--patchnum span:before,
.c-heading--patchnum span:after {
  position: absolute;
  content: "";
}

.c-heading--patchnum span:before {
  top: -34px;
  left: calc(50% - 34px);
  width: 64px;
  height: 36px;
  border: 2px dashed #000;
  border-radius: 50vw 50vw 0 0;
}

.c-heading--patchnum span:after {
  position: absolute;
  top: 4px;
  left: calc(50% - 32px);
  width: 64px;
  height: 10px;
  background: #fff;
}

.c-heading--rubyline {
  font-size: 30px;
  font-size: 3rem;
  position: relative;
  text-align: center;
}

.c-heading--rubyline span {
  font-size: 18px;
  font-size: 1.8rem;
  display: block;
}

.c-heading--rubyline:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 40px);
  width: 80px;
  height: 5px;
  content: "";
  border-radius: 3px;
  background: #046070;
}

.c-heading--gradradius {
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 100vh;
  background-image: linear-gradient(to left, #08b4d2 0%, #006374 100%);
  display: inline-block;
}

.c-heading--gradline {
  position: relative;
  padding: 0.5rem 0.5rem;
}

.c-heading--gradline:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: "";
  border-radius: 3px;
  background-image: linear-gradient(to left, #046070 0%, #009efd 100%);
}

.c-heading--bggold {
  padding: 0.5rem 1rem;
  color: #fff;
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}

.c-heading--bgmetal {
  padding: 0.5rem 1rem;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 0;
  background-image: linear-gradient(-45deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
}

.c-heading--tritag {
  position: relative;
  display: inline-block;
  height: 64px;
  margin-left: 30px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #046070;
}

.c-heading--tritag:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: "";
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #046070 transparent transparent;
}

.c-heading--tritag:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #fff;
}

.c-heading--ribon {
  line-height: 60px;
  position: relative;
  height: 60px;
  margin: 2em 50px 1em;
  padding: 0 2rem;
  text-align: center;
  color: #fff;
  background: #046070;
}

.c-heading--ribon:before,
.c-heading--ribon:after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  border: 30px solid #046070;
}

.c-heading--ribon:before {
  left: -40px;
  border-left-width: 15px;
  border-left-color: transparent;
}

.c-heading--ribon:after {
  right: -40px;
  border-right-width: 15px;
  border-right-color: transparent;
}

.c-heading--ribon span {
  position: relative;
  display: block;
}

.c-heading--ribonwrap {
  position: relative;
  margin: 30px;
  text-align: center;
}

.c-heading--ribonwrap:before,
.c-heading--ribonwrap:after {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  display: block;
  content: "";
  border: 1em solid #02363f;
}

.c-heading--ribonwrap:before {
  left: -30px;
  border-left-width: 15px;
  border-left-color: transparent;
}

.c-heading--ribonwrap:after {
  right: -30px;
  border-right-width: 15px;
  border-right-color: transparent;
}

.c-heading--ribonwrap span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1rem 2rem;
  color: #fff;
  background: #046070;
}

.c-heading--ribonwrap span:before,
.c-heading--ribonwrap span:after {
  position: absolute;
  bottom: -10px;
  display: block;
  content: "";
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.c-heading--ribonwrap span:before {
  left: 0;
  border-width: 10px 0 0 10px;
}

.c-heading--ribonwrap span:after {
  right: 0;
  border-width: 10px 10px 0 0;
}

.c-heading--speachbubble {
  position: relative;
  padding: 1rem 1.5rem;
  color: #fff;
  border-radius: 10px;
  background: #046070;
}

.c-heading--speachbubble:after {
  position: absolute;
  bottom: -9px;
  left: 1em;
  width: 0;
  height: 0;
  content: "";
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: #046070 transparent transparent transparent;
}

.c-heading--check {
  padding: 1rem 2rem;
  background-color: rgba(4, 96, 112, 0.4);
  background-image: linear-gradient(90deg, rgba(4, 96, 112, 0.3) 50%, transparent 50%), linear-gradient(rgba(4, 96, 112, 0.3) 50%, transparent 50%);
  background-size: 40px 40px;
}

.c-heading--dot {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #046070;
  background-image: radial-gradient(#08b4d2 13%, transparent 13%), radial-gradient(#08b4d2 13%, transparent 13%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}

/* -------------------------------------------------------
   awesome
------------------------------------------------------- */
.c-awes__star {
  position: absolute;
}

.c-awes__star::before {
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  font-weight: 900;
  color: orange;
  font-size: 30px;
}

.c-awes__star--Lg::before {
  font-size: 70px;
}

.shootingstar1 {
  -webkit-animation: shootingstar1 10s linear infinite;
          animation: shootingstar1 10s linear infinite;
}

.shootingstar2 {
  -webkit-animation: shootingstar2 10s linear infinite;
          animation: shootingstar2 10s linear infinite;
}

@-webkit-keyframes shootingstar1 {
  0% {
    top: 0px;
    left: 0px;
  }
  5% {
    top: 2000px;
    left: 2000px;
  }
  100% {
    top: 2000px;
    left: 2000px;
  }
}

@keyframes shootingstar1 {
  0% {
    top: 0px;
    left: 0px;
  }
  5% {
    top: 2000px;
    left: 2000px;
  }
  100% {
    top: 2000px;
    left: 2000px;
  }
}
@-webkit-keyframes shootingstar2 {
  0% {
    top: 1000px;
    left: 0px;
  }
  5% {
    top: 3000px;
    left: 2000px;
  }
  100% {
    top: 3000px;
    left: 2000px;
  }
}
@keyframes shootingstar2 {
  0% {
    top: 1000px;
    left: 0px;
  }
  5% {
    top: 3000px;
    left: 2000px;
  }
  100% {
    top: 3000px;
    left: 2000px;
  }
}
.c-awes__xmark::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  font-weight: 900;
  color: rgb(252, 108, 41);
  font-size: 30px;
}

/* -------------------------------------------------------
   table
------------------------------------------------------- */
.p-nav {
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}

.p-nav.is-finish .p-navList .p-navItem a {
  color: #fff;
}

.p-nav.is-scroll .p-navList .p-navItem a:after {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 25%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 50%, #3392af 50%, #3392af 75%, #01465a 75%);
}

.p-nav .p-navList {
  display: flex;
  height: 50px;
}

.p-nav .p-navList .p-navItem {
  margin: 0 2px;
  height: 100%;
  width: 130px;
  overflow: hidden;
}

.p-nav .p-navList .p-navItem a {
  width: 100%;
  text-decoration: none;
  color: #01465a;
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-weight: bold;
  position: relative;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  transition: all 1s ease-out;
}

.p-nav .p-navList .p-navItem a:after {
  position: absolute;
  content: "";
  right: 0%;
  width: 400%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 50%, #3392af 50%, #3392af 75%, #01465a 75%);
  z-index: -1;
  transition: 0.6s ease-in-out;
}

.p-nav .p-navList .p-navItem a:hover {
  color: #fff;
}

.p-nav .p-navList .p-navItem a:hover:after {
  right: -300%;
}

@media screen and (max-width: 767px) {
  .p-nav {
    background-color: transparent;
    z-index: 10;
    height: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .p-nav .p-navList {
    background: rgba(4, 96, 112, 0.8);
    display: none;
    left: 50%;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .p-nav .p-navList .p-navItem a {
    color: #fff;
  }

  .p-nav .p-navList .p-navItem {
    height: 10%;
  }

  .p-nav .p-navList .p-navItem a:after {
    height: 0;
    width: 0;
  }
}
/* -------------------------------------------------------
   パンくずリスト
------------------------------------------------------- */
.cp_breadcrumb *,
.cp_breadcrumb *:after,
.cp_breadcrumb *:before {
  box-sizing: border-box;
}

.cp_breadcrumb {
  font-size: 10px;
  overflow: hidden;
  width: 100%;
  padding: 0;
  list-style: none;
}

.cp_breadcrumb li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.cp_breadcrumb a {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0.9em 0.5em 0.9em 2.2em;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(2, 64, 134);
}

.cp_breadcrumb li:first-child a {
  padding-left: 0.8em;
  border-radius: 5px 0 0 5px;
}

.cp_breadcrumb a::after,
.cp_breadcrumb a::before {
  position: absolute;
  top: 50%;
  right: -1.5em;
  margin-top: -1.6em;
  content: "";
  border-top: 1.6em solid transparent;
  border-bottom: 1.6em solid transparent;
  border-left: 1.5em solid;
}

.cp_breadcrumb a::after {
  z-index: 2;
  border-left-color: rgb(2, 64, 134);
}

.cp_breadcrumb a::before {
  z-index: 1;
  right: -1.8em;
  border-left-color: #ffffff;
}

.cp_breadcrumb li:nth-child(2) a {
  background: #0358b8;
}

.cp_breadcrumb li:nth-child(2) a:after {
  border-left-color: #0358b8;
}

.cp_breadcrumb li:nth-child(3) a {
  background: #0470eb;
}

.cp_breadcrumb li:nth-child(3) a:after {
  border-left-color: #0470eb;
}

.cp_breadcrumb li:nth-child(4) a {
  background: #0c7dfb;
}

.cp_breadcrumb li:nth-child(4) a:after {
  border-left-color: #0c7dfb;
}

.cp_breadcrumb li:nth-child(5) a {
  background: #258afc;
}

.cp_breadcrumb li:nth-child(5) a:after {
  border-left-color: #258afc;
}

.cp_breadcrumb li:last-child a {
  cursor: default;
  pointer-events: none;
  color: black;
  background: #58a5fd;
  border-radius: 0 5px 5px 0;
}

.cp_breadcrumb li:last-child a:hover {
  background: none;
}

.cp_breadcrumb li:last-child a::before,
.cp_breadcrumb li:last-child a::after {
  content: normal;
}

/* ==============================================================
   Object/component
============================================================== */
/* -------------------------------------------------------
   dummy
------------------------------------------------------- */
.dummywrap {
  width: 100%;
  height: 200px;
}

.dummy {
  width: 50px;
  height: 50px;
}

/* -------------------------------------------------------
   design
------------------------------------------------------- */
.u-boxshadow {
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.5);
}

.u-dropshadow {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.u-blockCenter {
  margin: 0 auto;
}

/* -------------------------------------------------------
   margin
------------------------------------------------------- */
.margin-100 {
  height: 100px;
}

.margin-50 {
  height: 50px;
}

.margin-10 {
  height: 10px;
}

/* -------------------------------------------------------
   position
------------------------------------------------------- */
.u-absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.u-absTop {
  top: 35%;
}

/* -------------------------------------------------------
   size
------------------------------------------------------- */
/* -------------------------------------------------------
   text
------------------------------------------------------- */
/* -------------------------------------------------------
   height
------------------------------------------------------- */
.u-height__lineheight12 {
  line-height: 1.2;
}

/*# sourceMappingURL=main.css.map */