/* -------------------------------------------------------
   article
------------------------------------------------------- */
.c-artiLg{
    padding: 5px;
    margin-bottom: 50px;
}

.c-artiLg__title{
    margin-bottom: 0.5rem;
}